.main {
  background-color: #F0F0F0;
  width: 300px;
  height: 150px;
  border-radius: 2px;
  float: left;
  margin-left: 20px;
  box-shadow: 2px 2px 5px #9D9D9D;
}
.main:hover {
  background-color: #DEDEDE;
  box-shadow: 2px 2px 5px #6D6D6D;
}
.header {
  font-size: 2em;
  font-family: Helvetica;
  color: #4D4D4D;
  margin-left: 20px;
}
.body {
  font-size: 1em;
  color: #7D7D7D;
  margin-left: 20px;
  margin-top: 75px;
}
.out {
  z-index: 10;
  font-family: Helvetica;
  font-size: 1em;
  background-color: #99004C;
  width: 100px;
  height: 50px;
  line-height: 50px;
  margin-top: -75px;
}
#creators {
  color: #D1D1D1;
  font-size: 1em;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
