/*-----defining layers-----*/
/*background*/
#background {
  z-index: 0;
  position: fixed;
  margin: 0px;
  padding: 0px;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
/*wahl sheet*/
#wahl {
  z-index: 1;
  position: fixed;
  margin: 0px;
  padding: 0px;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
/*blur between layers*/
#blur {
  z-index: 2;
  position: fixed;
  margin: 0px;
  padding: 0px;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
/*explanation*/
#exp {
  z-index: -3;
  position: fixed;
  margin: 0px;
  padding: 0px;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
/*check before submit*/
#check {
  z-index: -4;
  position: fixed;
  margin: 0px;
  padding: 0px;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
/*login*/
#login {
  z-index: 5;
  position: fixed;
  margin: 0px;
  padding: 0px;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
/*-----background-----*/
#b_plane {
  margin: 0px;
  padding: 0px;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
}
/*-----wahl-----*/
/*-----blur-----*/
#blur_plane {
  margin: 0px;
  padding: 0px;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
}
/*-----exp-----*/
/*-----check-----*/
/*-----login-----*/
/*main container for holding login*/
#container {
  background-color: #F0F0F0;
  width: 700px;
  height: 350px;
  box-shadow: 5px 5px 5px #9D9D9D;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
/*left side of container*/
#left {
  float: left;
}
/*line between sides*/
#line {
  padding: 0px;
  width: 2px;
  height: 99%;
  float: left;
  background-color: #999999;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
  display: inline-block;
}
/*right side of container*/
#right {
  float: right;
  margin-top: 80px;

}
/*left margin*/
.left {
  margin: 0px;
  margin-left: 50px;
}
h2.left {
  margin-top: 40px;
}
h5.left {
  margin-top: 15px;
}
input.left {
  margin-top: 5px;
}
/*right margin*/
.right {
  margin: 0px;
  margin-right: 50px;
}
h5.right {
  margin-top: 15px;
}
input.right {
  margin-top: 5px;
}
/*Login button
#log {
  width: 150px;
  border: solid 1px black;
  padding: 2px
}
*/
