#container {
  background-color: #F0F0F0;
  width: 1000px;
  height: 500px;
  box-shadow: 5px 5px 5px #9D9D9D;
}
#left {
  float: left;
}
#right {
  float: left;
}
h2 {
  margin: 0px;
}
h5 {
  margin: 0px;
}
