body{
  background-color: #222;
  color: #666;
  font-family: Helvetica;
}

#load_opacity{
  width: 100%;
  margin: 0px;
  height: 100%;
  position: fixed;
  background-color: #222;
  opacity: 1;
  z-index: 19;
}

#load_div{
  position: absolute;
  top: 80px;
  z-index: 20;
  margin-left: 50px;
}

nav{
  position: absolute;
  top: 10px;
  left: 50px;
}

nav ul{
  margin: 0;
  padding: 0;
  height: 50px;
}

.pressed{
  background-color: #ff5400;
  text-decoration: underline;
  color: #fff;
}

.unpressed{
  background-color: #333;
  text-decoration: none;
  color: #666;
}

nav ul li{
  list-style: none;
  float: left;
  background-color: #333;
  padding: 10px;
  text-align: center;
  transition: all 200ms;
  border-right: solid #444 1px;
  cursor: pointer;
}

nav ul li:hover{
  background-color: #ff5400;
  color: #fff;
  text-decoration: underline;
}

nav ul li:first-child{
  border-radius: 10px 0px 0px 10px;
}

nav ul li:last-child{
  border-radius: 0px 10px 10px 0px;
  border: none;
  height: 18px;
}

nav ul li ul{
  height: 0;
  overflow: hidden;
  opacity: 0.0;
}

nav ul li:last-child:hover ul{
  height: auto;
  opacity: 1.0;

}

#hidden_bar {
  margin-top: -6px;
}

#menue_button{
  height: 30px;
  position: relative;
  top: -5px;
}


#logo_bar{
  position: absolute;
  top: 10px;
  left: 600px;
}

#logo_bar ul{
  margin: 0;
  padding: 0;
  height: 50px;
}

#logo_bar ul li{
  list-style: none;
  float: left;
  background-color: #333;
  padding: 10px;
  text-align: center;
  transition: all 400ms;
  border-right: solid #444 1px;
  cursor: pointer;
}

#logo_bar ul li:first-child{
  border-right: solid #444 1px;;
  border-radius: 10px 0px 0px 10px;
}

#logo_bar ul li:first-child:hover{
background-color: #ff5400;
}

#oranien_link{
  text-decoration: none;
  color: #666;
  transition: all 400ms;
}

#menue_date{
    border: none;
    border-radius: 0px 10px 10px 0px;
    background-color: #333;
    color: #666;
    float: left;
    height: 44px;
    width: 70px;
    text-align: center;
    line-height: 50px;
    transition: all 400ms;
    position: absolute;
    top: 0px;
    left: 140px;
    cursor: pointer;
  }

  #menue_date:hover{
    color: #fff;

  }

#logo_bar ul li:hover{
  background-color: #ff5400;
  color: #fff;
  text-decoration: none;
}

#logo{
  height: 20px;
  width: 20px;
  position: relative;
  top: 0px;
}

#text{
  position: relative;
  top: 20px;
}

.circle{
	position: absolute;
	top: 100px;
	left:230px;
	background-color: #aaa;
	border-radius: 50%;
	height: 0px;
	width: 0px;
  z-index: 20;
}

span{
	display: block;
	height: 20px;
	width: 20px;
	background-color: #ff5400;
	border-radius: 50%;
	position: absolute;
	top: 0px;
}

span:nth-child(1){
	left: -25px;
	animation: jump 1s ease-in-out infinite;
}

span:nth-child(2){
	animation: jump 1s ease-in-out 0.33s infinite;
}

span:nth-child(3){
	left: 25px;
	animation: jump 1s ease-in-out 0.66s infinite;
}

@keyframes jump{
	0%,,75%,100%{
		transform: translate(0px);
		}
	25%{
		transform: translateY(-30px);
		}
}

#bar{
	position: absolute;
	top:130px;
	left: 170px;
	width: 150px;
	height: 8px;
	background-color: #777;
  z-index: 21;
}

#load_massage{
	font-family: Arial;
	font-size: 12px;
	position: absolute;
	top:140px;
	left: 155px;
	width: 175px;
	height: 15px;
	background-color: #777;
	text-align: center;
  z-index: 22;
  color: #000;
}

#load_massage:hover{
  cursor: default;
}

/* !Hier beginnt die Tabelle! */

#main{
    position: absolute;
    top: 100px;
    left: 50px;
    border-radius: 10px;
    padding: 10px;
    width: auto;
    background-color: #333;
    height: auto;
    min-height: 120px;
}

#ueberschrift{
  color: #ff5400;
}

#sunde{
  position: relative;
  left: 600px;
  top: -20px;
  font-size: 15px;
  color: #666;
}
.ueberklassen {
  margin-left: 26px;
  border-radius: 2px;
  background-color: #444;
  width: 40px;
  height: 20px;
  color: #AAA;
  border: none;
}

.ueberklassen:active {
  margin-left: 26px;
  border-radius: 2px;
  background-color: #222;
  width: 40px;
  height: 20px;
  color: #AAA;
  border: none;
}

.ueberklassen:hover{
  cursor: pointer;;
}

#x5{
  margin-left: 8px;
}

.klassebutton{
  border: none;
  width: 25px;
  height: 25px;
  color: #AAA;
  background-color: #444;
  border-radius: 10px;
}

.klassebutton:hover{
  cursor: pointer;
}

.klassebutton:active{
  width: 25px;
  height: 25px;
  background-color: #222;
  border-radius: 10px;
}

.klassebuttonu{
  margin-top: 5px;
  border: none;
  width: 25px;
  height: 25px;
  color: #AAA;
  background-color: #444;
  border-radius: 10px;
}
.klassebuttonu:hover{
    cursor: pointer;
}

.klassebuttonu:active{
  width: 25px;
  height: 25px;
  background-color: #222;
  border-radius: 10px;
}


.stby {
  margin-left: 11px;
}

#table_main {
  border: none;
  color: #AAA;
}

.table_th{
  border: 1px solid #222;
  background-color: #444;
}

.table_th:hover{
  cursor: default;
}


.table_td{
  border: 1px solid #222;
  background-color: #444;
}

#creators_div{
  position: absolute;
  top: 50px;
  left: 550px;
  background-color: #333;
  color: #666;
  width: 250px;
  height: 200px;
  border-radius: 5px;
  text-align: center;
  z-index: 20;
  border: solid #ff5400 1px;
}

#close_creators{
  background-color: #444;
  border-radius: 2px;
  border-top-left-radius: 10px;
  border: solid #333 1px;
  float: left;
  margin-left: 2px;
  margin-top: 2px;
}

#text{
  margin: 2px;
  font-size: 12px;
  color: #ddd;
}
